.main__form {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    & .base__characteristics {
        display: flex;
        gap: 20px;
    }
    & input {
        width: 240px;
        height: 30px;
        border: 1px solid black;
        border-radius: 0px;
        box-sizing: border-box;
        padding-left: 30px;
        outline: none;

        &:focus {
            &::placeholder {
                color: white;
            }
        }
        &::placeholder {
            color: black;
        }
    }

    & input[type="file"] {
        width: 238.4px;
        height: 25.4px;
        border: 0px;
    }

    & button {
        width: 230px;
        height: 40px;
        background-color: aqua;
        border: 0px;
        transition: 0.5s;
        letter-spacing: 0.05em;

        &:hover {
            background-color: green;
            color: white;
            cursor: pointer;
        }
    }
    & .upload__button {
        margin-bottom: 30px;
    }
    & .form__button {
        width: 180px;
        background-color: white;
        transition: 0.3s;

        &:hover {
            background-color: white;
            color: green;
        }
    }
    & .photos {
        display: flex;
        gap: 10px;
    }
}